[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
litellm = "*"
markdown2 = "*"
python-dotenv = "*"
psycopg2-binary = "*"
crewai = "*"
markdown = "*"
beautifulsoup4 = "*"
djangorestframework = "*"
whitenoise = "*"

[dev-packages]
gunicorn = "*"
dj-database-url = "*"

[requires]
python_version = "3.12"
